.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .criminal-info {
    border: 1px dotted black;
    flex: 0 32%;
    margin-bottom: 2%;
  }

  .note {
    border: 1px dotted black;
    flex: 0 32%;
    margin-bottom: 2%;
  }
  .witness {
    border: 1px dotted black;
    flex: 0 32%;
    margin-bottom: 2%;
  }
  .noteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .filters {
    display: flex;
    justify-content: center;
  }
